<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  </head>

  <body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="#">K Nearest Neighbor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">À propos             
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/Music">Musique
                  <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Custom">Custom
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">{{ title }}</h1>
        <p>Cette application est crée à l'aide d'un serveur écrit en python utilisant flask.</p>
        <p>La classification de musique est faite avec l'utilisation de l'api de Spotify pour obtenir les caractéristiques de musique</p>
        <p>L'algorithme est fait à partir d'un KNN (K-Nearest Neighbors) fait avec la librairie scikit-learn</p>
      </div>  
    </div>

    <div class="container">
        <div class="card">
            <h5 class="card-header">Classification</h5>
            <div class="card-body">
              <h5 class="card-title">Veuillez ércire le nom de la chanson</h5>
              <div class="form-group">
                <input type="text" class="form-control" name="titreChanson" id="titreChanson" aria-describedby="helpId" placeholder="Titre">
                <br/>
                <button type="button" onclick="Classifier();" id="search" name="search" class="btn btn-primary"><i class="fas fa-search"></i> Classifier</button>

                <script>
                 function Classifier(){
                   let titre = document.getElementById("titreChanson").value
                   let url = `/getGenre/${titre}`
                   let xhr = new XMLHttpRequest();
                   xhr.responseType = 'text';
                    xhr.open('GET', url);
                    xhr.onload = function() {
                        if (xhr.status === 200) {
                            //Success
                            let genre = xhr.response;
                            document.getElementById("resultSuccess").innerHTML = `Le genre de '${titre}' est : ${genre}!`;
                            hide(document.getElementById("alertError"));
                            show(document.getElementById("alertSuccess"));
                        }
                        else {
                          //Error
                          document.getElementById("resultError").innerHTML = `Impossible de trouver une chanson nommé : ${titre}`;
                            hide(document.getElementById("alertSuccess"));
                            show(document.getElementById("alertError"));
                        }
                    };
                    xhr.send();          
                 }
                 
                 // Show an element
                var show = function (elem) {
                  elem.style.display = 'block';
                };

                // Hide an element
                var hide = function (elem) {
                  elem.style.display = 'none';
                };
                </script>
              <br/>
              <br/>
              <br/>
              <div id="alertSuccess" class="alert alert-success" style="display: none" role="alert">
                <p id="resultSuccess"></p>
              </div>
              <div id="alertError" class="alert alert-danger" style="display: none" role="alert">
                  <p id="resultError"></p>
                </div>
              </div>
          </div>
          </div>
          <br/>
     
      </div>

      <hr>

      <footer>
        <p>&copy; Vincent Constantin - tout droit réservé - 2019</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
